<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../lib/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/app.css"/>
</head>
<body ng-app="app">
<nav class="navbar navbar-default">
    <div class="container">
        <ul class="nav navbar-nav">
            <li><a href="/#/">Posts</a></li>
            <li><a href="/#/register">Register</a></li>
            <li><a href="/#/login">Login</a></li>
        </ul>
    </div>
</nav>
<div ng-view></div>
<script src="/lib/angular.js"></script>
<script src="/lib/angular-route.js"></script>
<script src="/assets/app.js"></script>
</body>
</html>
